body {
    width: 65%;
    margin: auto;
  }

  .app {
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: lighter;
    background-color: #33bebe;
    padding: 30px 0 5px 10px;
    margin-bottom: 40px;
  }

  .content {
    display: flex;
  }

  .img {
    max-width: 460px;
    margin-right: 30px;
  }

  .text {
    color: #7c8b88;
    max-width: 705px;
    font-size: 20px;
  }

 
